@font-face {
    font-family: Bebas-Neue;
    font-weight: 400;
    font-display: swap;
    src: url('/assets/typho/bebas-neue/normal/400.ttf') format('truetype');
}

@font-face {
    font-family: Bebas-Neue;
    font-weight: 400;
    font-display: swap;
    src: url('/assets/typho/bebas-neue/italic/400.ttf') format('truetype');
}