@font-face {
    font-family: "Petrona";
    font-weight: 300;
    font-display: swap;
    src: url('/assets/typho/petrona/normal/300.ttf') format('truetype');
}

@font-face {
    font-family: "Petrona";
    font-weight: 300;
    font-display: swap;
    src: url('/assets/typho/petrona/italic/300.ttf') format('truetype');
}