@font-face {
    font-family: "Petrona";
    font-weight: 600;
    font-display: swap;
    src: url('/assets/typho/petrona/normal/600.ttf') format('truetype');
}

@font-face {
    font-family: "Petrona";
    font-weight: 600;
    font-display: swap;
    src: url('/assets/typho/petrona/italic/600.ttf') format('truetype');
}
