@font-face {
    font-family: "Algreya Sans";
    font-display: swap;
	font-weight: 100;
    src: url('/assets/typho/algreya-sans/normal/100.ttf') format('truetype');
}

@font-face {
    font-family: "Algreya Sans";
    font-display: swap;
	font-weight: 100;
    src: url('/assets/typho/algreya-sans/italic/100.ttf') format('truetype');
}