@font-face {
    font-family: "Algreya Sans";
    font-display: swap;
	font-weight: 800;
    src: url('/assets/typho/algreya-sans/normal/800.ttf') format('truetype');
}

@font-face {
    font-family: "Algreya Sans";
    font-display: swap;
	font-weight: 800;
    src: url('/assets/typho/algreya-sans/italic/800.ttf') format('truetype');
}


