@font-face {
   font-family: "Rokkitt";
    font-weight: 200;
    font-display: swap;
    src: url('/assets/typho/rokkitt/normal/200.ttf') format('truetype');
}

@font-face {
   font-family: "Rokkitt";
    font-weight: 200;
    font-display: swap;
    src: url('/assets/typho/rokkitt/italic/200.ttf') format('truetype');
}