@font-face {
   font-family: "Rokkitt";
    font-weight: 800;
    font-display: swap;
    src: url('/assets/typho/rokkitt/normal/800.ttf') format('truetype');
}

@font-face {
   font-family: "Rokkitt";
    font-weight: 800;
    font-display: swap;
    src: url('/assets/typho/rokkitt/italic/800.ttf') format('truetype');
}