@font-face {
   font-family: "Rokkitt";
    font-weight: 900;
    font-display: swap;
    src: url('/assets/typho/rokkitt/normal/900.ttf') format('truetype');
}

@font-face {
   font-family: "Rokkitt";
    font-weight: 900;
    font-display: swap;
    src: url('/assets/typho/rokkitt/italic/900.ttf') format('truetype');
}
