@font-face {
    font-family: "Quicksand";
    font-weight: 700;
    font-display: swap;
    src: url('/assets/typho/quicksand/normal/700.ttf') format('truetype');
}

@font-face {
    font-family: "Quicksand";
    font-weight: 700;
    font-display: swap;
    src: url('/assets/typho/quicksand/italic/700.ttf') format('truetype');
}