@font-face {
    font-family: "Dm Serif Display";
    font-display: swap;
	font-weight: 400;
    src: url('/assets/typho/dm-serif-display/normal/400.ttf') format('truetype');
}

@font-face {
    font-family: "Dm Serif Display";
    font-display: swap;
	font-weight: 400;
    src: url('/assets/typho/dm-serif-display/italic/400.ttf') format('truetype');
}