@font-face {
    font-family: "PT Sans Narrow";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/pt-sans-narrow/normal/400.ttf') format('truetype');
}

@font-face {
    font-family: "PT Sans Narrow";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/pt-sans-narrow/italic/400.ttf') format('truetype');
}