@font-face {
    font-family: "cormorant-garamond";
    font-weight: 500;
    font-display: swap;
    src: url('/assets/typho/cormorant-garamondnormal/500.ttf') format('truetype');
}

@font-face {
    font-family: "cormorant-garamond";
    font-weight: 500;
    font-display: swap;
    src: url('/assets/typho/cormorant-garamonditalic/500.ttf') format('truetype');
}