@font-face {
    font-family: "cormorant-garamond";
    font-weight: 600;
    font-display: swap;
    src: url('/assets/typho/cormorant-garamondnormal/600.ttf') format('truetype');
}

@font-face {
    font-family: "cormorant-garamond";
    font-weight: 600;
    font-display: swap;
    src: url('/assets/typho/cormorant-garamonditalic/600.ttf') format('truetype');
}