@font-face {
    font-family: "cormorant-garamond";
    font-weight: 700;
    font-display: swap;
    src: url('/assets/typho/cormorant-garamondnormal/700.ttf') format('truetype');
}

@font-face {
    font-family: "cormorant-garamond";
    font-weight: 700;
    font-display: swap;
    src: url('/assets/typho/cormorant-garamonditalic/700.ttf') format('truetype');
}