@font-face {
    font-family: "Tinos";
    font-display: swap;
    font-weight: 700;
    src: url('/assets/typho/tinos/400.ttf') format('truetype');
}

@font-face {
    font-family: "Tinos";
    font-display: swap;
    font-weight: 700;
    src: url('/assets/typho/tinos/italic/200.ttf') format('truetype');
}