@font-face {
    font-family: "Lexend";
    font-weight: 500;
    font-display: swap;
    src: url('/assets/typho/lexend/normal/500.ttf') format('truetype');
}

@font-face {
    font-family: "Lexend";
    font-weight: 500;
    font-display: swap;
    src: url('/assets/typho/lexend/italic/500.ttf') format('truetype');
}