@font-face {
    font-family: "Playwrite Deutschland Schulausgangschrift";
    font-display: swap;
    font-weight: 100;
    src: url('/assets/typho/playwrite-Deutschland-schulausgangschrift/100.ttf') format('truetype');
}
