@font-face {
    font-family: "Playwrite Deutschland Schulausgangschrift";
    font-display: swap;
    font-weight: 200;
    src: url('/assets/typho/playwrite-Deutschland-schulausgangschrift/200.ttf') format('truetype');
}