@font-face {
    font-family: "Playwrite Deutschland Schulausgangschrift";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/playwrite-Deutschland-schulausgangschrift/400.ttf') format('truetype');
}
