@font-face {
    font-family: "Noto";
    font-weight: 100;
    font-display: swap;
    src: url('/assets/typho/noto-serif-display-semi-condensed/normal/100.ttf') format('truetype');
}

@font-face {
    font-family: "Noto Sans";
    font-weight: 100;
    font-display: swap;
    src: url('/assets/typho/noto-serif-display-semi-condensed/italic/100.ttf') format('truetype');
}
