@font-face {
    font-family: "PT Sans";
    font-display: swap;
	font-weight: 700;
    src: url('/assets/typho/pt-sans/normal/700.ttf') format('truetype');
}

@font-face {
    font-family: "PT Sans";
    font-display: swap;
	font-weight: 700;
    src: url('/assets/typho/pt-sans/italic/700.ttf') format('truetype');
}