@font-face {
    font-family: "Ubuntu Mono";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/ubuntu-mono/700.ttf') format('truetype');
}

@font-face {
    font-family: "Ubuntu Mono";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/ubuntu-mono/italic/200.ttf') format('truetype');
}